.#{$prefix}header-title {
  color: #007bff;
}

.#{$prefix}rating-disagree {
  display: flex;
  justify-content: flex-end;
  .#{$prefix}rating-disagree-text {
    font-size: 1rem;
    @media screen and ( min-width: 720px ) {

    }
  }
}

.#{$prefix}rating-comp {
  text-align: center;
  .#{$prefix}rating {

  }
}

.#{$prefix}rating-agree {
  display: flex;
  justify-content: flex-start;
  .#{$prefix}rating-agree-text {
    font-size: 1rem;
    @media screen and ( min-width: 720px ) {

    }
  }
}

.#{$prefix}footer {
  font-size: 1.2rem;
  text-align: center;
}